<div class="container" style = "margin-top: 30px;">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h3 class = "mb-5 text-center">会員一覧</h3>
      <table class="table">
        <thaed>
          <tr>
            <th>会員ID</th>
            <th>作成日時</th>
            <th>氏名</th>
            <th>ステータス</th>
          </tr>
        </thred>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th><%= user.id %></th>
              <th><%= user.created_at.strftime('%Y/%m/%d') %></th>
              <th><%=link_to user.name, admins_user_path(user.id) %></th>
              <th><%= user.is_deleted ? "退会" : "有効" %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>