<div class="hero d-flex flex-column">
  <div class ="top" style="margin-top: 100px;">
  <h2 class="text-center text-light" style="font-size: 5vw;">RealTripへようこそ!</h2>
  </div>
  <div class="col-6 col-md-3 mx-auto">
    <p></p>
    <div class="imagee", style="margin-top: 250px;">
    <!--ログイン時はゲストログインボタン非表示-->
    <% unless user_signed_in? %>
    <p><%= link_to '新規登録', new_user_session_path, class: "btn btn-success btn-sm btn-block", method: :post %></p>
      <p><%= link_to 'ログイン', new_user_session_path, class: "btn btn-success btn-sm btn-block", method: :post %></p>
      <p><%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-info btn-sm btn-block", method: :post %></p>
    <% end %>
    </div>
    <% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>
  </div>
</div>


