<div class="hero d-flex flex-column">
  <div class ="top" style="margin-top: 80px;">
  <h2 class="text-center text-light" style="font-size: 5vw;">RealTripへようこそ！</h2>
  <h3 class="text-center" style="font-size: 2vw;">
    <%= link_to "早速見に行く", posts_path %>
  </h3></div>
  <div class="col-6 col-md-3 mx-auto">
    <!--ログイン時はゲストログインボタン非表示-->
    <% unless user_signed_in? %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-info btn-sm btn-block", method: :post %>
    <% end %>
  </div>
</div>