<div class="container" style = "margin-top: 200px;">
    <div class= "bg-info text-white">
      　<h1 class="text-center">RealTripへようこそ！</h1>

        　<h3 class = "text-center">
        　 <%= link_to "早速見に行く", posts_path %>
        　</h3>
    </div>
</div>